/********************************************
* 
********************************************/
@media only screen and (max-width: 670px) {
  .upcp-standard-product-page,
    .upcp-custom-large-product-page {
      display: none;
    }
    .upcp-standard-product-page-mobile {
      display: inline;
        width: 100%;
    }
}


/********************************************
SIDEBAR - HEADER VIEW
*********************************************/
@media only screen and (max-width:715px) {

.prod-cat-inner {
position:relative;
float:none;
width:100%;
}

.prod-cat-sidebar {
clear:both;
background:rgba(199, 199, 199, 0.1);
border-radius:5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
width:95%;
max-height:auto;
max-width: none;
z-index: 99999;
border: 1px solid #e0e0e0;
padding:15px 5px;
right:0;
margin:0;
}
        

.prod-cat-sidebar > form > div {
margin-bottom:0;
}
         
.prod-cat-sidebar-category-div,
.prod-cat-sidebar-subcategory-div,
    .prod-cat-sidebar-tag-div {
}
    
.prod-cat-sidebar-category-title,
.prod-cat-sidebar-subcategory-title,
.prod-cat-tag-sidebar-title {

}
    
.prod-cat-sidebar-cat-title{
    clear:both;
    width:100%;
    padding-top:10px;
}
.prod-cat-sidebar-content{
    margin:0 5px 0;
    width:100%;
}

.prod-cat-sidebar-content div{
    margin:0 5px 5px;
    float:left;
}

.prod-cat-cf-sidebar-title {
    padding-top:10px;
}
.prod-cat-sidebar-cf{
width:100%;
}
.prod-cat-cf-sidebar-option div{
    float:left;
    margin:5px 5px 0;
}
.prod-cat-sidebar-category,
.prod-cat-sidebar-subcategory,
.prod-cat-sidebar-tag,
.prod-cat-sidebar-cf-value-div{
 padding: 0 4px;
}
.prod-cat-sort-by, 
  .prod-cat-text-search{
      margin-left:5px;
  }.
.styled-input {
   width: 85%;
    min-width:140px;
}
.styled-select select {
    width:auto;
}
.styled-input input[type="text"] {
 width:90%;
}


}
/************************************************************
*  DETAILS VIEW - NARROW
************************************************************/
@media only screen and (max-width: 1050px) and (min-width:520px) {
.upcp-detail-item {
    width: 100%;
}
.upcp-detail-image-div {
    width: 25%;
    height:200px;
}
.upcp-detail-image-div a {
    width:100%;
    height:200px;
    line-height: 0;
}
div.upcp-detail-image-div img {
    width:100%;
    height:auto;
}

.upcp-detail-image {
}
.upcp-mid-detail-div{
    width:45%;
    
}
.upcp-end-detail-div {
    width:10%;
}
}


/************************************************************
*  LIST VIEW - NARROW
************************************************************/
@media only screen and (max-width: 1200px) and (min-width:481px) {

.upcp-list-item {
    width:100%;
    margin-left:5%;
    margin-top:10px;
}
.upcp-list-details {

    }
.upcp-list-image-div {
    margin-top:10px;
    width: 30%;
}

.upcp-list-desc {
    margin:0 5px;
    float:left;
    min-height:150px;   
    width:55%;
    max-width:none;
    overflow:auto;
}
.upcp-list-details-link {
  background: url("../images/details_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    color: #50a3d1;
    height: 40px;
    float: left;
    padding:0 15px;
    
}
}


/************************************************************
*  THUMBNAIL VIEW - MOBILE
************************************************************/
@media only screen and (max-width: 480px){
.upcp-thumb-item {
    float:none;
    margin:0 auto 10px;
    min-height:0;
    min-width:80px;
    width:97% !important;
}

.upcp-thumb-image-div a {
    display: inline;
    width:97%;
    margin: 0 auto;
}

div.upcp-thumb-image-div img {
    max-width: 200px !important;
    margin: 0 auto;
}
.upcp-thumb-image-div {
    padding-top:10px;
    width:96% !important;
}
.upcp-thumb-price {
    width:45%;
    min-width:81px;
}
.upcp-thumb-details-link {
float:left;
width:42%;
margin-left:6px;
min-width:80px;
}
}

/************************************************************
*  LIST VIEW - MOBILE
************************************************************/
@media only screen and (max-width: 480px){
.upcp-list-item {
    width:90%;
    margin-left:5%;
    margin-top:10px;
}
.upcp-list-details {
    max-width:100%;
    }
.upcp-list-image-div {
    width: 100%;
}
.upcp-list-image-div a {
    width:75%;
    display:table;
    position:relative;
    margin:0 auto;
}
.upcp-list-image-div img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height:160px;
}
.upcp-list-desc {
    margin-top:10px;
    padding:0;
    float:left;
    overflow: hidden;
    width:100%;
    max-width:none;
    min-height:0;
    overflow:auto;
}
.upcp-list-details-link {
  background: url("../images/details_icon.png");
    background-repeat: no-repeat;
    background-position: center right;
    color: #50a3d1;
    height: 40px;
    width:110px;
    float: left;
    padding:0 15px;
    
}
}

/************************************************************
*  DETAILS VIEW - MOBILE
************************************************************/    
@media only screen and (max-width: 519px) {
.detail-display {
    min-width:210px;
}
.upcp-detail-item {
    width: 95%;
    min-width:200px;
    overflow:hidden;
    flex-flow:column nowrap;
}
.upcp-detail-image-div {
    float:left;
    width: 60%;
    max-width:150px;
    min-width:50px;
    height:150px;
    position:relative;
    margin: 10px auto;
}
.upcp-detail-image-div a {
    max-width:150px;
    height:150px;
    line-height: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
div.upcp-detail-image-div img {
    max-width:150px;
    max-height:150px;
}
.upcp-mid-detail-div{
    width:95%;
    float:left;
    overflow:hidden;
    height:auto;
    margin: 0;
    padding-right: 5px;
    border:none;
    border-top:1px solid #e0e0e0;
    min-height:0;
}
.upcp-detail-title{
    padding-left:5px;
    padding-right:5px;
}
.upcp-detail-desc{
    padding: 0 5px;
}  
.upcp-end-detail-div {
  float: none;
  max-width: none;
  min-height: 0;
  width: 100%;
  padding: 0;
}
.prod-cat-end-detail-div a.upcp-catalogue-link {
height:40px;
float:right;
position:relative;
bottom:5px;
margin:0 20px;
}
.prod-cat-end-detail-div .upcp-detail-price{
    width: auto !important;
    margin:0 10px;
}

.upcp-detail-details-link {
    height:40px;
    background:none;
    font-size: 1.2em;
}
}